.comments
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      .comments__box
        .user__image
          - @users.each do |u|
            - if comment.user.id == u.id
              - if u.image?
                = image_tag u.image.url if u.image.present?
              - else
                .user__image
                  = image_tag "/assets/default.png", :size => '40x40'
        = link_to comment.user.nickname, "/users/#{comment.user_id}"
        ：
        = comment.text