.task_content
  .sub_contents
    = render partial: "side_form"
  .task__list
    .type-textbound
      %span.textbound1 T
      %span.textbound2 A
      %span.textbound3 S
      %span.textbound4 K
    .task__table
      %table
        %tr
          %th Title
          %th Description
          %th
          %th
          %th
        - @tasks.each do |task|
          %tr
            %td= task.title
            %td= task.description
            %td= link_to 'Show', task_path(task)
            %td= link_to 'Edit', edit_task_path(task)
            %td= link_to 'Delete', task_path(task), method: :delete
      %p= link_to 'ToDoの作成', new_task_path
