.task_content
  .task__list
    .task__list__box
      .task__table
        .task__table__header
          %h2 TODO
        .task__table__main-list
          - @tasks.each do |task|
            .task__table__main-card
              .tesk__text
              = link_to task_path(task) do
                = task.title
              .edit-delete-btn
              = link_to 'Edit', edit_task_path(task)
              = link_to 'Delete', task_path(task), method: :delete
        .task__post__link
          = link_to new_task_path do
            = icon('fas', 'fa-plus')
            = "カードの追加"
    .task__list__box
      .task__table
        .task__table__header
          %h2 Doing
        .task__table__main-list
          - @tasks.each do |task|
            .task__table__main-card
              = link_to task_path(task) do
                = task.title
              = link_to 'Edit', edit_task_path(task)
              = link_to 'Delete', task_path(task), method: :delete
    .task__list__box
      .task__table
        .task__table__header
          %h2 Complete
        .task__table__main-list
          - @tasks.each do |task|
            .task__table__main-card
              = link_to task_path(task) do
                = task.title
              = link_to 'Edit', edit_task_path(task)
              = link_to 'Delete', task_path(task), method: :delete
