.task_content
  .task__list
    .task__table
      %table
        %tr
          %th Title
          %th Description
          %th
          %th
          %th
        - @tasks.each do |task|
          %tr
            %td= task.title
            %td= task.description
            %td= link_to 'Show', task_path(task)
            %td= link_to 'Edit', edit_task_path(task)
            %td= link_to 'Delete', task_path(task), method: :delete
      .task__post__link
        = link_to 'ToDoの作成', new_task_path
