.task__content
  .task__back-description
    .task__back-description__header
      %h1 タスク詳細
      .edit-btn
        = link_to edit_task_path(@task) do
          = icon('fas', 'cog')
          ="編集"
    .task__description
      .task__description__content
        .task__description__content__name
          %th タスク名:
          %td= @task.title
        %tr
        .task__description__content__main
          %th 詳細:
          %br
          %td= @task.description
    .task__link
      = link_to "戻る", tasks_path
