.content_post
  - if tweet.image?
    .content_image
      = link_to tweet_path(tweet.id) do
        = image_tag tweet.image.url, :size => '100x100', class: 'image__box'
  - else
    .content_image
      = link_to tweet_path(tweet.id) do
        = image_tag "/assets/default.png", :size => '100x100', class: 'image__box'
  .content__description
    .content__title
      .content__text
      = tweet.title
      -# .content__favorite
      -# - if current_user.favorited_by?(tweet.id)
      -#   %td
      -#   = link_to destroy_favorite_path(tweet), method: :DELETE do
      -#     = icon('fas', 'heart')
      -#   = tweet.favorites.count
      -# - else
      -#   %td
      -#   = link_to create_favorite_path(tweet), method: :POST do
      -#     = icon('far', 'heart')
      -#   = tweet.favorites.count
    .content__user
      %a{:href => "/users/#{tweet.user.id}"}
        = tweet.user.nickname
      .content__follow
        -# = render partial: "users/follow", locals: { user: user }