.content_post
  - if tweet.image?
    .content_image
      = link_to tweet_path(tweet.id) do
        = image_tag tweet.image.url, :size => '100x100', class: 'image__box'
  - else
    .content_image
      = link_to tweet_path(tweet.id) do
        = image_tag "/assets/default.png", :size => '100x100', class: 'image__box'
  .content_title
    = tweet.title
    .content___user--name
      %a{:href => "/users/#{tweet.user.id}"}
        = tweet.user.nickname
    %td= tweet.title
    - if current_user.favorited_by?(tweet.id)
      %td
      = link_to 'いいね外す', destroy_favorite_path(tweet), method: :DELETE
      = tweet.favorites.count
    - else
      %td
      = link_to 'いいねする', create_favorite_path(tweet), method: :POST
      = tweet.favorites.count
    .content__follow
      = #render partial: "relationships/follow_button", locals: { user: @user }