.content
  .contents.row
    .content__post
      .content__image{:style => "background-image: url(#{@tweet.image});"}
        - if user_signed_in? && current_user.id == @tweet.user_id
          .more
            %ul.more__list
              %li
                = link_to edit_tweet_path(@tweet.id), method: :get do
                  %i.fas.fa-cog
                  ="編集"
              %li
                = link_to tweet_path(@tweet.id), method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.far.fa-trash-alt
                  ="削除"
      .content__tags
        .content__tags__list
          = render 'shared/tag_list', tag_list: @tweet.tag_list
      .content__description
        .content__title
          .content__title__text
            = @tweet.title
        .content__favorite
          - if current_user.favorited_by?(@tweet.id)
            = link_to destroy_favorite_path(@tweet), method: :DELETE do
              = icon('fas', 'heart')
            = @tweet.favorites.count
          - else
            = link_to create_favorite_path(@tweet), method: :POST do
              = icon('far', 'heart')
            = @tweet.favorites.count
        %hr
        .content__user
          - @users.each do |u|
            - if @tweet.user.id == u.id
              - if u.image?
                = image_tag u.image.url if u.image.present?
              - else
                .user__image
                  = image_tag asset_path"default.png", :size => '40x40'
          %a{:href => "/users/#{@tweet.user.id}"}
            = @tweet.user.nickname
        - if current_user != @tweet.user
          .content__follow
            - if @tweet.user.followed_by?(current_user)
              = link_to "フォロー中", user_relationships_path(@tweet.user.id), method: :delete
            - else
              = link_to "フォロー", user_relationships_path(@tweet.user.id), method: :post
      .content__text
        %p [本文]
        = @tweet.text
    .container
      = render "comments/index"


