.SettingGroup__Form
  = form_with model: group, local: true do |f|
    - if group.errors.any?
      .SettingGroup__Form__errors
        %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - group.errors.full_messages.each do |message|
            %li= message
    .SettingGroup__Form__field
      .SettingGroup__Form__leftField
        = f.label :name, "グループ名", class: 'SettingGroup__Form__label'
        = f.text_field :name, class: 'SettingGroup__Form__input', placeholder: 'グループ名を入力してください'
    .SettingGroup__Form__field
      .SettingGroup__Form__leftField
        %label.SettingGroup__Form__label チャットメンバーを追加
      .SettingGroup__Form__rightField
        / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
        = f.collection_check_boxes :user_ids, User.all, :id, :nickname
        / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
    .SettingGroup__Form__field
      .SettingGroup__Form_leftField
      .SettingGroup__Form__rightField
        = f.submit class: 'SettingGroup__Form__button'