.group__content
  .group-show__list
    %h1 GROUP
  .group__more
    .client__name
      - if user_signed_in?
        %h3
          Come on #{current_user.nickname}
    .more_list
      %p <グループ一覧>
    .group__table__list
      - current_user.groups.each do |group|
        .group__table__card
          %p グループ名：
          .group__edit-delete-btn
            = link_to edit_group_path(group) do
              = icon('fas', 'cog')
              ="編集"
          %section.group__user__name
            = link_to group_group_tweets_path(group) do
              = group.name