.log-in__content
  = link_to "ログアウト", '#', class: 'Button'
  = link_to "トップページに戻る", :back, class: 'Button'
  .log-in__list
    .log-in__list__header
      %img{:alt => "", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg"}/
      %h1.log-in__title  アカウントの編集
      .log-in__form
        = form_for(current_user) do |f|
          .log-form__group
            = f.label :nickname
            = f.text_field :nickname, autofocus: true, class: "log-in__form__input"
          .log-form__group
            = f.label :email
            = f.email_field :email, class: "log-in__form__input"
          .log-form__group
            = f.label :user_image
            %br
            %em (新しい画像に変更したい場合はこちらに追加)
            .log-form__group__image
              = f.file_field :image, class: "log-in__form__input"
          .log-in__form-btn-1
            = f.submit "Up-date", class: "log-in__form-btn"