%h1 DM INFOMATION
- if user_signed_in?
  %h2
    Hello #{current_user.nickname}
  - @users.each do |u|
    %p
      %a{:href => "/users/#{u.id}"}
        = u.nickname
        さん
    %hr/
  = link_to "ログアウト", destroy_user_session_path, :method => :delete
- else
  = link_to "ユーザーを登録する", new_user_registration_path
  %br/
  = link_to "ログインする", new_user_session_path

  %h1 Users#index
- @users.each do |user|
  %hr/
  %p
    %span email:
    = link_to user.email, user_path(user.id)
-# - if current_user != user
  - if user.followed_by?(current_user)
    %p= link_to "フォロー済み", user_relationships_path(user.id), method: :delete
  - else
    %p= link_to "フォローする", user_relationships_path(user.id), method: :post

