.content__user-page
  .content__user-table
    .content__user-table__header
      .content__user-table__info
        .profile__img
          - if @user.image?
            = image_tag @user.image.url if @user.image.present?
          - else
            = image_tag "/assets/default.png"
        .detail__content
          .detail__content__name
            .content__user__name
              = @user.nickname
            .edit-btn
              = link_to edit_user_path(@user) do
                = icon('fas', 'cog')
                ="編集"
          .detail__content-btn
            %button.button-dark
              = link_to "ユーザー一覧", users_path
              - if @user.id != current_user.id
                %button.button-dark
                  - if @isRoom == true
                    %p
                      %a{:href => "/rooms/#{@roomId}"} チャットへ
                  - else
                    = form_for @room do |f|
                      = fields_for @entry do |e|
                        = e.hidden_field :user_id, :value=> @user.id
                      = f.submit "チャットを始める"
          .follow__content
            %button.button-light
              .follow__content__following
                = link_to "フォロー", follows_user_path(@user.id)
                = @user.followings.count
            .follow__content__followers
              %button.button-light
                = link_to "フォロワー", followers_user_path(@user.id)
                = @user.followers.count
            .follow__btn
              - if current_user != @user
                %button.button-light
                  - if @user.followed_by?(current_user)
                    %p= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete
                  - else
                    %p= link_to "フォローする", user_relationships_path(@user.id), method: :post
      .content__my-page
        .content__my-page__name
          = @nickname
          さんの投稿一覧
        .content__my-list
          %ul.menu
            %li
              %a#about.menu_item.active{:href => "#"}  全体投稿
            %li
              %a#contact.menu_item{:href => "#"} お気に入りした投稿一覧
          %ul.post__list
            %li.content.show
              .content__user-page__list
                - @tweets.each do |tweet|
                  = render partial: "tweets/tweet", locals: { tweet: tweet }
            %li.content
              .content__user-page__list
                - @user.favorite_tweets.each do |tweet|
                  = render partial: "tweets/tweet", locals: { tweet: tweet }
