.group__outer
  .group__header
    .Group__name
      %p グループ名：
      = @group.name
    .group__post-btn
      = link_to "グループ投稿", new_group_group_tweet_path, class: "group__mew"
    .group__draft
      %button.group__draft__list
        = link_to "グループ下書き",confirm_group_group_tweets_path(@group)
    .group__search
      = form_with(url: search_group_group_tweets_path, local: true, method: :get, class: "group_search-form") do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "group__search-input"
        = form.submit "検索", class: "group__search-btn"
    .groups__content
      .groups__content_row
        - @group_tweets.each do |group_tweet|
          = render partial: "tweet", locals: { group__tweet: group_tweet }


