.content_post
  - if group__tweet.image?
    .content_image
      = link_to group_group_tweet_path(@group,group__tweet) do
        = image_tag group__tweet.image.url, :size => '100x100', class: 'image__box'
  - else
    .content_image
      = link_to group_group_tweet_path(@group,group__tweet) do
        = image_tag "/assets/default.png", :size => '100x100', class: 'image__box'
  .content__description
    .content__title
      .content__text
      = group__tweet.title
    .content__user
      = link_to group_group_tweet_path(@group,group__tweet) do
        %a{:href => "/users/#{group__tweet.user.id}"}
          = group__tweet.user.nickname