.Group__name
  = @group.name
= link_to  "グループ投稿", new_group_group_tweet_path, class: "post"
.Group__search
= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
  = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
  = form.submit "検索", class: "search-btn"
.contents__group
  - @group_tweets.each do |group_tweet|
    = render partial: "tweet", locals: { group__tweet: group_tweet }