.group__outer
  .group__row
    .content__post
      - if @group_tweet.image?
        .content__image{:style => "background-image: url(#{@group_tweet.image});"}
          - if user_signed_in? && current_user.id == @group_tweet.user_id
            .more
              %ul.more__list
                %li
                  = link_to edit_group_group_tweet_path(@group.id,@group_tweet.id), method: :get do
                    %i.fas.fa-cog
                    ="編集"
                %li
                  = link_to group_group_tweet_path(@group_tweet.id), method: :delete, data: { confirm: 'Are you sure?' } do
                    %i.far.fa-trash-alt
                    ="削除"
      - else
        .content__df__image
          - if user_signed_in? && current_user.id == @group_tweet.user_id
            .more
              %ul.more__list
                %li
                  = link_to edit_group_group_tweet_path(@group.id,@group_tweet.id), method: :get do
                    %i.fas.fa-cog
                    ="編集"
                %li
                  = link_to group_group_tweet_path(@group_tweet.id), method: :delete, data: { confirm: 'Are you sure?' } do
                    %i.far.fa-trash-alt
                    ="削除"
      .content__tags
        .content__tags__list
          = render 'shared/tag_list', tag_list: @group_tweet.tag_list
      .content__group__description
        .content__title
          .content__title__text
          = @group_tweet.title
        .content__favorite
          -# - if current_user.liked_by?(@group_weet.id)
          -#   = link_to destroy_like_path(group_tweet), method: :DELETE do
          -#     = icon('fas', 'heart')
          -#   = group_tweet.likes.count
          -# - else
          -#   = link_to create_like_path(group_tweet), method: :POST do
          -#     = icon('far', 'heart')
          -#   = group_tweet.likes.count
        %hr
        .content__user
          .user__image
          - if current_user.image?
            .user__image
              = image_tag current_user.image.url, :size => '40x40'
          - else
            .user__image
              = image_tag asset_path"default.png", :size => '40x40'
          %a{:href => "/users/#{@group_tweet.user.id}"}
            = @group_tweet.user.nickname
        - if current_user != @group_tweet.user
          .content__follow
            - if @group_tweet.user.followed_by?(current_user)
              = link_to "フォロー中", user_relationships_path(@group_tweet.user.id), method: :delete
            - else
              = link_to "フォロー", user_relationships_path(@group_tweet.user.id), method: :post
      .content__text
        %p [本文]
        = @group_tweet.text
    .group__container
      = render "opinions/index"