.room_content
  .room__message
    .room__link
      = link_to "ユーザー一覧に戻る", users_path
    .room__menber
      .room___menber__chat__header
        .room___menber__user__status
          .room__user__box
            - @entries.each do |e|
              - if current_user.id != e.user.id
                .user_image
                  - if e.user.image?
                    = image_tag e.user.image.url, :size => '40x40' if e.user.image.present?
                  - else
                    .user_image
                      = image_tag asset_path"default.png", :size => '40x40'
                .user__name
                  %a{:href => "/users/#{e.user.id}"}
                    = e.user.nickname
                    さん
    .messege__box
      = render "messages/index"