!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GIL
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application' 
    
%body
.header
  - if user_signed_in?
    .header__logo
      .logo_image
        = link_to root_path do
          = image_tag asset_path"GIL-logo-black.png", :size => '50x50', class: 'image__log'
    .header__side_bar
      = render 'shared/menu_bar'
    .header__bar
      - if current_user.image?
        .header__bar__user_image
          = image_tag current_user.image.url, :size => '40x40'
      - else
        .header__bar__user_image
          = image_tag asset_path"default.png", :size => '40x40'
      .user_nav.grid-6
        %span
          = current_user.nickname
          %ul.user__info
            %li
              = link_to "マイページ", "/users/#{current_user.id}"
              = link_to "ログアウト", destroy_user_session_path, method: :delete
      .user-info__edit
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
    = yield
  - else
    .header__logo
      .ligo_image
        = link_to root_path do
          = image_tag asset_path"GIL-logo-black.png", :size => '50x50', class: 'image__log'
      .log-in__menu
        .btn-border-gradient-wrap
          .btn-border-gradient-wrap--silver
            .btn-box 
              = link_to "ログイン", new_user_session_path, class: 'post__log-in'
        .btn-border-gradient-wrap
          .btn-border-gradient-wrap--silver
            .btn-box 
              = link_to "新規登録", new_user_registration_path, class: 'post__log-in'
    = yield

