!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GIL
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application' 
%body
.header
  - if user_signed_in?
    .header__logo
      .ligo_image
        = link_to root_path do
          = image_tag "/assets/GIL-logo-black.png", :size => '50x50', class: 'image__log'
    -# .header__pick-stream
    -#   .header__pick-stream__box
    -#     .header__pick-stream__box__user
    -#       - if current_user.image?
    -#         .header__pick-stream__box__user__image
    -#           = image_tag current_user.image.url, :size => '40x40'
    -#       - else
    -#         .header__pick-stream__box__user__image
    -#           = image_tag "/assets/default.png", :size => '40x40'
    -#     .user_info
    -#       = current_user.nickname
    -#       .user-info__edit
    -#         = link_to edit_user_path(current_user) do
    -#           = icon('fas', 'cog')
    -#       .follow-info
    -#         .following_num 
    -#           = @user.following.count
    -#         .follower_num 
    -#           = @user.follower.count
    .header__side_bar
      = link_to groups_path do
        = icon('fas', 'bars')
      .group-info__new
        = link_to new_group_path do
          = icon('fas', 'edit')
      .draft_list
        = link_to confirm_tweets_path do
          = icon('fas', 'drafting-compass')
      .task_info
        = link_to tasks_path do
          = icon('fas', 'thumbtack')
    .header__bar
      - if current_user.image?
        .header__bar__user_image
          = image_tag current_user.image.url, :size => '40x40'
      - else
        .header__bar__user_image
          = image_tag "/assets/default.png", :size => '40x40'
      .user_nav.grid-6
        %span
          = current_user.nickname
          %ul.user__info
            %li
              = link_to "マイページ", "/users/#{current_user.id}"
              = link_to "ログアウト", destroy_user_session_path, method: :delete
      .user-info__edit
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
        = link_to  "投稿する", new_tweet_path, class: "post"
    = yield
  - else
    .header__logo
      .grid-6
        %a{:href => "/"} GIL
    .grid-6
      = link_to "ログイン", new_user_session_path, class: 'post'
      = link_to "新規登録", new_user_registration_path, class: 'post'
    = yield

