!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GIL
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application' 
%body
  .header
    .header__logo
      .grid-6
        %a{:href => "/"} GIL
    .header__bar
      - if user_signed_in?
        .group-info__new
          = link_to new_group_path do
            = icon('fas', 'edit')
        .group-info__edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
        - if current_user.image?
          .header__bar__user_image
            = image_tag current_user.image.url, :size => '40x40'
        - else
          .header__bar__user_image
            = image_tag "/assets/default.png", :size => '40x40'
        .user_nav.grid-6
          %span
            = current_user.nickname
            %ul.user__info
              %li
                = link_to "マイページ", "/users/#{current_user.id}"
                = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to  "投稿する", new_tweet_path, class: "post"
      - else
        .grid-6
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'post'
    = yield
    .footer
      Growth Is Life 2020.

